<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
</head>
<body>
<h1>Editar Post</h1>
<form th:object="${registro}" action="/registro" method="POST">
    <input type="hidden" name="id" th:value="${registro.id}">
    <div>
        <b> Titulo:</b>
        <input type="text" class="form-control" th:field="*{titulo}" />
    </div>
    <div>
        <b> Descripcion:</b>
        <br>
        <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
    </div>
    <div>
        <b> Fecha:</b>
        <input  type="date" name="fecha" ></input>
    </div>
    <input type="submit" value="Guardar"></input>
</form>

</body>
</body>
</html>