<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Registro</title>
</head>
<body>

<h1>Editar Post</h1>
<form th:object="${registro}" action="/registro" method="POST">
    <input type="hidden" name="id" th:value="${registro.id}">
    <div>
        <b> Titulo:</b>
        <input type="text" class="form-control" th:field="*{titulo}" />
    </div>
    <div>
        <b> Descripcion:</b>
        <br>
        <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>

    </div>
    <div>
        <b> Fecha:</b>
        <input  type="date" name="fecha" >
    </div>
    <div>
        <b>Tipo de registro: </b>
        <select name="tipo" id="tipo">
            <option value="Analisis">Analisis</option>
            <option value="Consulta">Consulta</option>
            <option value="Medicamento">Medicamento</option>
            <option value="Tratamiento">Tratamiento</option>
        </select>
    </div>

    <input type="submit" value="Guardar"></input>

</form>
    </div>
    <div>
        <b> Fecha:</b>
        <input  type="date" name="fecha" ></input>
    </div>
    <input type="submit" value="Guardar"></input>
</form>
</body>
</html>