<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Salute</title>
</head>
<body>
    <h1>Mi historial</h1>
    <a href="/nuevoRegistro">Nuevo registro</a>

    <table border="2">
        <tr >
            <td>Titulo</td>
            <td>Descripcion</td>
            <td>Fecha</td>
            <td>Tipo</td>
            <td>Ver</td>
        </tr>
        <tr  th:each="registroMedico : ${registroMedicoList}">
            <td th:text="${registroMedico.titulo}"></td>
            <td th:text="${registroMedico.descripcion}"></td>
            <td th:text="${registroMedico.fecha.toString()}"></td>
            <td th:text="${registroMedico.tipo}"></td>
            <td><a th:href="${'/mostrarRegistro/'+registroMedico.id}">Ver</a></td>
        </tr>
    </table>


</body>
</html>